.nav-bar {
  background: conic-gradient( 
    red 6deg, orange 6deg 18deg, yellow 18deg 45deg, 
    green 45deg 110deg, blue 110deg 200deg, purple 200deg);
}

body {
  background-image: url("https://rcompos.github.io/production.png");
}