.nav-bar {
  background: conic-gradient( 
    blue 6deg, orange 6deg 36deg, yellow 36deg 64deg, 
    green 64deg 140deg, purple 140deg 240deg, red 240deg 300deg,  blue 300deg);
}

body {
  background-image: url("https://rcompos.github.io/production.png");
}