.nav-bar {
  background: conic-gradient( 
    blue 6deg, orange 6deg 18deg, yellow 18deg 45deg, 
    green 45deg 110deg, purple 110deg 145deg, red 145deg 300deg,  blue 300deg);
}

body {
  background-image: url("https://rcompos.github.io/production.png");
}