.nav-bar {
    background: linear-gradient(to bottom,
    red 20%, orange 20% 40%, yellow 40% 60%, green 60% 80%, blue 80%);
}

body {
  background-image: url("https://rcompos.github.io/production-sol-deuce.001.png");
}