.nav-bar {
  background: conic-gradient( 
    blue 6deg, orange 6deg 45deg, yellow 45deg 135deg, 
    green 135deg 174deg, purple 174deg 186deg, red 186deg 354deg,  blue 354deg);
}

body {
  background-image: url("https://rcompos.github.io/production-sol.png");
}