.nav-bar {
  background: conic-gradient( 
    blue 6deg, orange 6deg 45deg, yellow 45deg 135deg, 
    green 135deg 174deg, purple 174deg 193deg, red 193deg 347deg,  blue 347deg);
}

body {
  background-image: url("https://rcompos.github.io/production-sol.png");
}