.nav-bar {
  background: conic-gradient( 
    blue 6deg, orange 6deg 50deg, yellow 50deg 80deg, 
    green 80deg 160deg, purple 160deg 220deg, red 220deg 320deg,  blue 320deg);
}

body {
  background-image: url("https://rcompos.github.io/production.png");
}