.nav-bar {
  background: linear-gradient(217deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%),
            linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(167, 0, 200, 0.8), rgba(167,0,200,0) 70.71%);
}

body {
  background-image: url("https://rcompos.github.io/production-body.png");
}

.top-bar{
  background-image: url("https://rcompos.github.io/production-top-bar.png");
}